<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= data.default.site_title %> フロントエンドテンプレート</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <style>
        @charset "utf-8";
        body,html{height:100%}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline}html{font-size:100%}body{position:relative;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;word-break:break-all;-webkit-text-size-adjust:100%;color:#444;font-size:80%}a{text-decoration:none}blockquote,q{quotes:none}blockquote::after,blockquote::before,q::after,q::before{content:'';content:none}input,textarea{margin:0;padding:0}input,select{vertical-align:middle}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}header{display:block}img{vertical-align:bottom}
        .clearfix {
            *zoom: 1;
        }
        .clearfix:before,
        .clearfix:after {
            content: "";
            display: table;
        }
        .clearfix:after {
            clear: both;
        }

        /* ━━━ */
        .title {
            padding: 20px 20px 30px;
            font-size: 20px;
        }
        .item {
            padding: 0 20px 30px;
        }
        .item li {
            margin-bottom: 3px;
        }
        .item a {
            display: block;
            padding: 5px 15px;
            background: #f3f3f3;
            color: #333;
        }
        .item a:active,
        .item a:hover {
            background: #f3f3ff;
            color: #f90;
        }
    </style>
</head>

<body class="l-body">
    <h1 class="title"><%= data.default.site_title %> フロントエンドテンプレート</h1>
    <ul class="item">
        <li><a href="template.html">共通フレーム ： template.html</a></li>
    </ul>
</html>
