<!DOCTYPE html>
<html>

<head>
<% include ../include/common/head %>
<% include ../include/common/head-css %>
</head>

<body>
<% include ../include/common/header %>
<% nav = 'nav03' %><% include ../include/common/nav %>

    <h1><%= data.default.site_title %></h1>

    <p><span class="icon--a"></span>トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文</p>

<% include ../include/module/sample %>

<% include ../include/common/footer %>

<% include ../include/common/footer-js %>
</body>

</html>
