@charset "utf-8";
/* link-home */
.link-home {
  margin: 0 0 55px;
  a {
    display: block;
    margin: auto;
    width: 121px;
    height: 150px;
    background: url(../img/link_home.png) no-repeat 0 0;
  }
}
/* h1 */
.h1-rep {
  margin: 85px auto 40px;
}
.h1-ung {
  margin: 85px auto 40px;
}
.h1-svi {
  margin: 85px auto 40px;
}



