@charset "utf-8";
/* h1 */
.h1 {
  margin: 130px auto 0;
}
/* ttl-vertical */
.ttl-vertical {
  margin: -240px auto 100px;
  height: 282px;
  background: url(../img/h1-text.png) no-repeat center 0;
}
/* h2 */
.h2 {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  /* sprite */
  @include sprite($a);
}
