    <meta charset="utf-8">
    <title><%= data.default.title %></title>
    <meta name="author" content="<%= data.default.copyright %>">
    <meta name="description" content="<%= data.default.description %>">
    <meta name="keywords" content="<%= data.default.keywords %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/Icon-76@2x.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/Icon-72@2x.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/Icon-60@2x.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/Icon@2x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/Icon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/Icon-72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/Icon-60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/Icon.png">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="canonical" href="[正規化フルパス URL]">
    <link rel="stylesheet" href="[スタイルシートパス]">